.game {
  display: flex;
  flex-direction:column;
  row-gap: 20px;
}

.square {
  border: 1px solid;
  border-radius: 0;
  height: 50px;
  width: 50px;
  float: left;
}

.board-row::after {
  clear: both;
  content: none;
}